#container {
	
	width:90%;
	margin: 0 auto;

}

body {

	font-size:14px;
	/*background:url(../img/siteBackground.png) repeat;*/
	margin:0;
	padding:0;
	color:#707070;

}

#header {

	height:210px;
	margin:5px;
	padding:5px;

}

#header img {

	float:left;

}

#header span img {

	float:right;

}

#header h1 {

	float:left;
	padding:30px 0 20px 215px; /* sopra destra sotto sinitra*/
	
}

#header h1 a {

	text-decoration:none;
	color:red;
	font-size:72px;
	
}

#header h1 a:hover {

	text-decoration:none;
	color:red;
	font-size:72px;
	
}

.clearFloat {
	
	clear:both;
	
}

#navContainer ul {

	margin:0;
	list-style-type:none;
	color:#ffffff;
	width:100%;
	padding:17px 0 0 280px;
	height:18px;
	margin-bottom:5px;

}

#navContainer ul li {

	display:inline;
	float:center;
	
}

#navContainer ul li ul {

	display:none;

}

#navContainer ul li:hover ul {

	display:block;
}

#navContainer ul li ul li {

	display:none;
	top:10px;

}

#navContainer ul li ul li:hover {

	display:none;
	top:10px;

}

#navContainer ul li a {

	text-decoration:none;
	color:#999999;
	padding:17px 30px;
	border-right: solid 1px #333333;
	text-transform:uppercase; 	

}

#navContainer ul li a:hover {

	text-decoration:none;
	color:red;
	padding:17px 30px;
	border-right: solid 1px #333333;
	text-transform:uppercase;

}

#navContainer #active a {

	text-decoration:none;
	color:black;
	padding:17px 30px;
	border-right: solid 1px #333333;
	text-transform:uppercase;

}

#navContainer #active a:hover {

	text-decoration:none;
	color:red;
	padding:17px 30px;
	border-right: solid 1px #333333;
	text-transform:uppercase;

}

#threeBoxes {

	padding:15px;
	height:180px;

}

h2 {
	color:red;
	padding: 10px 0 20 px 0;
	
}

.box {

	float:left;
	width:25%;
	padding:10px 35px;
	background-color:#e9e9e9;

}

.bottonLink {

	background-color:red;
	color:white;
	padding:5px 10px;
	margin:10px 0;
	text-decoration:none;
	border-bottom:solid 2px white;
	display:inline-block;

}

h3 {

	color:red;
	padding:10px 0 20px 0;
	
}

.containLeft {

	text-align:justify;
	float:left;
	width:600px;
	padding:10px 35px;
	
}

.imgsx {

	float:left;
	padding: 2px 20px 10px 2px;
	
}

.links {

	margin-left:600px;
	padding:10px 35px;
	
}

.links li {

	display:block;
	background:url(../img/p.png) no-repeat left 6px;
	padding: 0 0 10px 7px;

}

.links li a {
	
	text-decoration:none;
	color:#008bce;
	
}

.links li a:hover {
	
	text-decoration:underline;
	color:##008bce;
	
}

.footer {

	padding:0 15px 0 20px;
	border-top:solid 1px black;
	text-align:center;

}

.footer a {

	text-decoration:none;
	color:#008bce;
	font-size:12px;
	
}

.footer a:hover {

	text-decoration:underline;
	color:#008bce;
	font-size:12px;
	
}
