#container {
	
	width: 75%;
	margin: 0 auto;

}

body {

	font-size: 14px;
	margin:	0;
	padding: 0;
	color: #663333;
	background-color: black;

}

#header {

	height:	330px;
	margin:	5px;
	padding: 5px;
	/*border:	solid 2px red;*/
	background:	url(img/acqHeaderTx.jpg) no-repeat;
	background-size: 950px auto;
	background-position: center top;

}

.clearFloat {
	
	clear: both;
	
}

#navContainer {
	
	padding-left: 35%;
	/*padding-left:	480px;*/
	color: white;
	list-style:	none;
	/*border:	solid 1px red;*/

}

#navContainer li {

	display: inline;
	padding-right: 35px;
	font-size: 24px;
	float: left;
	/*border:	solid 1px red;*/
	
}

#navContainer li a {

	text-align:	center;
	text-decoration: none;
	color: white;
	padding: 3px 3px 0px 3px;
}

#navContainer li a:hover {
	
	text-decoration: none;
	/*background: radial-gradient(#808080 20%, black 60%);*/
	border-bottom: solid 3px #808080;

}

#navContainer li:hover ul{

	display:	block;

}

#active a {

	border-top:	solid 3px #808080

}

.navSot {

	display: none;
	left: 42%;
	position: absolute;
	top: 390px;
	list-style: none;
	/*border: solid 1px red;*/
		
}

.navSot li a {

	margin: 10px 200px 10px 200px;
	padding: 10px 0 10px 0;
	

}

.containLeft h2 {
	
	color: #3366cc;
	padding: 10px 0 20px 0;
	
}

.containLeft {

	text-align: justify;
	float: left;
	width: 40%;
	padding: 10px 35px;
	color: #d6e0f5;
	/*border: solid 1px red;*/
	
}

.imgsx {

	float: left;
	padding: 2px 20px 10px 2px;
	
}

.containRight {

	text-align: justify;
	float: right;
	width:40%;
	padding: 10px 35px;
	/*border: solid 1px red;*/
	
}

.containRight h2 {
	
	color: #3366cc;
	padding: 10px 0 20px 0;
	
}

.containRight ul {

	padding: 10px 35px;
	margin-top: 20px;
	/*border: solid 1px red;*/
	list-style: none;
	
}

.containRight ul li {

	margin-bottom: 20px;
	
}

.containRight ul li a {
	
	font-size: 18px;	
	color: #adc1eb;
	text-decoration: none;
	
}

.upPage h3 a{
	
	float: right;
	color: #3366cc;
	padding: 10px 0 20px 0;
	text-decoration: none;
	
}

#containAll {
	
	text-align: justify;
	margin: 5px;
	padding: 10px 35px;
	color: #d6e0f5;
	/*border: solid 1px red;*/
	
}

#containAll h1 {
	
	color:#3366cc;
	padding: 10px 0 20px 0;
	
}

#containAll p {
	
	padding: 10px 0 20px 0;
	
}

#containAll ul {
	
	list-style: none;
	
}

#containAll ul li {
	
	margin-bottom: 10px;
	margin-left: -30px;
	
}

#containAll ul h2	 {
	
	color: #3366cc;
	padding: 10px 0 20px 0;
	margin-left: -40px;
	
}

.imgAllLeft	 {
	
	float: left;
	padding: 2px 20px 10px 2px;
	
}

.imgAllRight	 {
	
	float: right;
	padding: 2px 2px 10px 20px;
	
}

#containAll ul h3	 {
	
	color: #3366cc;
	padding: 10px 0 20px 0;
	margin-left: -35px
	
}

#containAll ul li a	 {
	
	color: #ffffff	;
	padding: 0 30px 15px 0;
	/*margin-left: 35px;*/
	font-size: 18px;
	text-decoration: none;
	
}

#containAll ul li p {
	
	padding: 10px 0 20px 0;
	float: inherit;
	
}

#containAll ul li p b {
	
	color: #adc1eb;
	
}

#containAll ul li ul li p {
	
	padding: 10px 20px 20px 0;
	margin-left: -30px;
	margin-right: 170px;
	
}

#footer {

	padding: 0 15px 0 20px;
	border-top: solid 1px white;
	text-align: center;
	/*border: solid 1px red;*/

}

#footer a {

	text-decoration: none;
	color: #006600;
	font-size: 12px;
	
}

#footer a:hover {

	text-decoration: underline;
	color: #006600;
	font-size: 12px;
	
}

.comment {
	
	font-size: 14px;
	text-align: center;
	color: #663333; 
	
}

#contentBody h1 {
	
	color:#3366cc;
	padding: 10px 0 20px 0;
	margin-left: 45px;
	margin-top: 60px;
	
}

#threeBoxes {

	padding: 15px;
	height: 180px;
	margin-bottom: 350px;

}

#threeBoxes h2 {
	color: #3366cc;
	padding: 10px 0 20px 0;
	
}

#threeBoxes img {

	padding: 2px 20px 10px 20px;
	margin-bottom: 10px;
	
}

#threeBoxes p {

	text-align: justify;
	color: #d6e0f5;
	font-size: 16px;
}

.box {

	float:left;
	width:25%;
	padding:10px 35px;

}

.bottonLink {

	background-color: #3366cc;
	color: #d6e0f5;
	padding: 5px 10px;
	margin: 10px 0;
	text-decoration: none;
	border-bottom: solid 1px #d6e0f5;
	border-left: solid 1px #d6e0f5;
	display: inline-block;
	border-radius:10px;

}

.bottonLink:hover {

	border-bottom: none;
	border-left: none;
	border-top: solid 1px black;
	border-right: solid 1px black;
	
}