.container{

	width:80%;
	margin:0 auto;
	border:2px solid #D630FF;
	
}

.header{

	color:white;
	background-color:black;
	font-family:Arial, Verdana, serif;
	text-align:center;
	font-weight:bold;
	
}

.header img{

	position:relative;
	vertical-align:middle;
	
}

.menu{

	color:black;
	list-style-type:none;
	text-align:center;
	
}

.menu li{

	position:relative;
	top:-5px;
	margin:-3px;
	border-left:10px solid #59FF45;
	border-right:4px solid white;
	display:inline;
	padding:15px;
	background-color:#D630FF;
	
}

.menu li:hover{

	background-color:#59FF45;
	border-left:10px solid #D630FF;
	
}

.menu li.active{

	background-color:#59FF45;
	border-left:10px solid #D630FF;
	
}

.menu li.active:hover{

	background-color:#D630FF;
	border-left:10px solid #59FF45;
	
}

.menu li a{

	font-size:20px;
	color:white;
	font-weight:bold;
	text-decoration:none;
	
}

.menu li a:hover{

	text-decoration:none;
	
}

.content{

	padding:40px;
	text-align:justify;
	font-size:14px;
	background-color:white;
	font-family: 'Arvo', serif;

}

.content h1{

	margin-left:220px;
	
}

.content p{

	margin-left:220px;
	
}

.footer{

	height:40px;
	background-color:black;
	color:#D630FF;
	font-size:14px;
	text-align:center;
	font-weight:bold;
	padding:5px;	
	
}

.footer a:hover{

	color:red;
	
}

.asd{

	position:relative;
	top:10px;
	left:-25px;
	
}

.asd2{

	position:relative;
	top:10px;
	left:25px;
	
}

.colonna {

	float:left;
	width:14em;
	background-color:red;
	top:60px;
	padding:2px;
	margin:2px;
	margin-left:6px;
	position:relative;
	height:300px;

}

