.margin-top-40perc {

	margin-top: 20%;

}

.margin-top-10 {

	margin-top: 10px;

}

.red {

	background-color:red;

}

.blue {

	background-color:blue;

}

.green {

	background-color:green;

}

.textRed {

	color: red;

}

